@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//import bulma
@import './my_bulma.scss';

@import '~font-awesome/scss/_variables.scss';

$fa-font-path: '~font-awesome/fonts';

@import '~font-awesome/scss/font-awesome.scss';

.pagefooter {
  margin-top: 15rem;
}

.burger {
  border: 0rem;
  background-color: white;
}

.burger:focus {
  outline: 0;
}

.burger-container {
  float: right;
}

.navbar-brand {
  float: left;
}

.title {
  font-weight: 300;
}

.header {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.sub-title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero-image {
  background-image: url('/images/sketch3.jpg');
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: white;

}

@media (min-width: 769px) {

  .hero-image {
	  background-attachment: fixed;
  }

}

.Modal {
  z-index: 200;
  position: absolute;
  top: 5px;
  right: 0px;
  width: 50%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.Modal:focus{
  outline: none;
}

.modal-item {
  font-size: 1.9rem;
  color: white;
  padding-left: 2rem;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.0rem;
  background-color: hsl(204, 86%, 53%);
  border: 0rem;
}

.modal-item:focus{
  outline: 0;
}

.Overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5)
}