@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//import bulma
@import './my_bulma.scss';

@import '~font-awesome/scss/_variables.scss';

$fa-font-path: '~font-awesome/fonts';

@import '~font-awesome/scss/font-awesome.scss';


.content-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.pagefooter {
  margin-top: 15rem;
}

